.listWrapper {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  div:last-of-type {
    margin-left: auto;
  }
  .leftPan {
    height: 100%;
    .profilePic {
      width: 100%;
      img {
        display: block;
        margin: auto;
        width: 5rem;
        border-radius: 50%;
        border: 1px solid rgb(175, 166, 166);
      }
    }
  }
  .rightPan {
    height: 100%;
    display: block;
    margin-left: 1rem;
    font-size: 0.8rem;
    text-align: left;
    .name {
      font-weight: bolder;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
  }
  .expandButton {
    &:hover {
      transform: scale(1.03);
      transition: 0.3s;
      cursor: pointer;
      color: green;
    }
  }
}
